{% extends "index.html" %}
{%load crispy_forms_tags%}
{% load static %}
{% block title %}Añadir receta{% endblock %}
{% block h1 %}Añadir receta{% endblock %}

{% block content %}
<h2>Añadir nueva receta</h2>
<form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
</br>
    <input type="button" value="Añadir receta">
    {% csrf_token %}
    {{ form.ingrediente | crispy }}
    {% csrf_token %}
    {{ form.cantidad | crispy }}
    <input type="submit" value="Añadir receta" id="btmAñadir"/>
</form>
</br>
{% endblock %}
