{% extends "index.html" %}
{% load static %}s
{% block title %}Receta{% endblock %}
{% block h1 %}Detalle Receta{% endblock %}

{% block imagen %}
    <img src="{% static "" %}images/{{ object.nombre|cut:" " }}.png" alt="{{ object.nombre }}" class="center" width="200">
    
{% endblock %}

{% block content %}
    <h2>{{ object.nombre }}</h2>
    <h2>Ingredientes</h2>
    <ul>
        {% for cantidad in object.cantidad_set.all %}
    
            <li><a href="{%url 'id_ing' cantidad.ingrediente.id%}">{{ cantidad.ingrediente.nombre }}</a> : {{ cantidad.cantidad }} {{ cantidad.unidad }}</li>
    
        {% endfor %}
    </ul>
    <ul>
        <li><span>Tipo:</span> {{ object.tipo.tipo }}</li>
        <li><span>Duración:</span> {{ object.duracion.duracion}}</li>
        <li><span>Tiempo:</span> {{ object.tiempo }} min</li>
        <li><span>Preparación:</span><p> {{ object.descripcion }}</p></li>
    </ul>
{% endblock %}
{% block app %}
    <h2> {$ counter $} me gusta</h2>
    {% if user.is_authenticated %}
        <button v-on:click="counter++">Me gusta</button>
        <button v-on:click="counter--">No me gusta</button>
    {% endif %}
{% endblock %}
