{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock%}</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" href="{%static 'images/logo.png'%}" type="image/png"/>
  </head>

  <body>
    <main>
      <header>
        <div id="logo">
          <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="/myapp/">Recetas de la abuela</a></h1>
            <h2><b>Rico, rico y para toda la familia</b></h2>
          </div>
          <div class="usuario">
          {% if user.is_authenticated %}
              <h3>Hola, {{ user.username }}</h3>
          {% endif %}
          </div>
        </div>
        <div id="menubar">
          <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li><a href="/myapp/">Home</a></li>
            <li><a href="/myapp/recetas/">Recetas</a></li>
            <li><a href="/myapp/tipos/">Tipos de Receta</a></li>
            <li><a href="/myapp/ingredientes/">Ingredientes</a></li>
            {% if user.is_authenticated %}
                <li><a href="/myapp/login/">Cerrar sesión</a></li>
            {% else %}
                <li><a href="/myapp/login/">Iniciar sesión</a></li>
            {% endif %}
          </ul>
        </div>
      </header>
    </main>
      <div id="site_content">
        <div class="sidebar">
          <!-- insert your sidebar items here -->
          {% block imagen %}{% endblock %}
        </div>
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
  </body>
</html>
