{% extends "index.html" %}
{% load static %}
{% load auth_extras %}

{% block title %}Listado_Recetas{% endblock %}
{% block h1 %}Listado de Recetas{% endblock %}


{% block content %}
<h2>Lista de Recetas</h2>
<ul>
{% for receta in object_list %}
    <li><a href="{%url 'id_re' receta.id%}">{{ receta.nombre }}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% block boton %}
{% if request.user.is_authenticated %}
    {% if request.user|has_group:"Cocinero" %}
        <a href="/myapp/añadirReceta/"><input type="button" value="Añadir receta" class="botonAñadirReceta"></a>
    {% else %}
        <input type="button" value="Añadir receta" class="botonAñadirReceta" disabled>
    {% endif %}
{% else %}
    <input type="button" value="Añadir receta" class="botonAñadirReceta" disabled>
{% endif %}
{% endblock %}
