{% extends "index.html" %}
{% load static %}
{% block title %}Portada{% endblock %}
{% block h1 %}Portada{% endblock %}

{% block imagen %}
    <img src="{% static '/images/abuela.png' %}" alt="abuela" class="center" width="200">
{% endblock %}

{% block content %}
<h2>Portada</h2>
{% for tipo in object_list %}
<p>{{ tipo.tipo }}</p>
    <ul>
    {% for receta in tipo.receta_set.all %}
        {% if forloop.first %}
            <li><a href="{%url 'id_re' receta.id%}">{{ receta.nombre }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}
{% endblock %}